.header{
    
	background-image: url(./img/welcome.jpg);
	background-size: cover;
	background-position: center;
    position: relative;
    padding:  100px;
}

.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0);
}

.description h1 {
    color: #FFFFFF;
    text-align: center;
}

.description p {
    color: #FFFFFF;
    font-size: 1.3rem;
    line-height: 2.3;
    font-weight: bold;
    text-align: center;
} 



.description h1 {
    font-size: 2em;
    }
    
    .description p {
    font-size: 1.2rem;
    }


    .page-footer {
        background-color: #222;
        color: #ccc;
        padding: 60px 0 30px;
       
    }
    .footer-copyright {
        color: #666;
        padding: 40px 0;
    }
    a {
        color: #FFF;
        
    }
    a:hover {
        color: #00F
    }
         

    